<template>
    <div>
        <h1>Method</h1>
        <hr />
        <h3>{{ greeting(45) }}</h3>
        <h1>{{ ArowFunc(500) }}</h1>
    </div>
</template>

<script>
const msg = "TEST";
const username = "mark";
const password = 1234;
let age;
let price;
export default {
    name:'MethodView',
    data(){
        return {
            username,
            password,
            msg,
            age,
            price,
        }
    },
    mathods:{
        data(){
            return {username,password,msg,age,price};
        },
        ArowFunc: (price) => {
            return "OK" + price;
        },

        greeting: (age) => {
            return "Hello there" + this.username + age;
        },
    },
};

</script>

<style lang="scss" scoped></style>